.invisible {
    display: none;
}

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    color: beige;
    text-shadow: -1px -1px 2px black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.right {
    right: 0;
}